body {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    font-family : "Helvetica";
    color: white;
    background-color: rgb(40,20,40);
}

header {
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: #FFFFFF;
    font-size: 3em;
    background-color: #FF7256;
}

#game {
    width: 720px;
    margin: 0 auto;
    margin-top: 20px;
    top: 20px;
    padding: 0;
}

#myCanvas {
    display: block;
    margin-bottom: 20px;
    background-color: rgb(195,238,238);
}

#messages {
    width: 100%;
}

#chat_box {
    width: 100%;
    height: 240px;
    background-color: #abbbc3;
    color: black;
    font-size: 13px;
    font-family: Helvetica;
    position: relative;
    display: none;
    overflow-y: auto;
}

#messages {
    width: 100%;
    padding: 0;
    margin: 0;
}

#message-form {
    position: relative;
    float: bottom;
    height: 21px;
    width: 100%;
    display: none;
}

#message-input {
    display: block;
    border: 0px;
    width: 90%;
    padding: 0;
    height: 21px;
    text-indent : 5px;
}

input:focus {
    outline: 0;
}

#message-send {
    width: 10%;
    border: 0;
    margin: 0;
    height: 21px;
    float: right;
}

.message-wrapper {
    width : 100%;
    display: flex;
}

.message-username {
    word-wrap: break-word;
    border: 0;
    margin: 0;
    width: 15%;
    height: 100%;
    padding 0;
    float: left;
}

.message-content {
    word-wrap: break-word;
    border: 0;
    margin: 0px;
    padding: 0;
    height: 100%;
    width: 85%;
    float: right;
}
