body {
    background-color : 	#abbbc3;
    font-family: helvetica;
    margin: 0;
    padding: 0;
}

header {
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: #FFFFFF;
    font-size: 60px;
    background-color: #7b8b8b;
}

#game {
    width: 720px;
    margin: 0 auto;
    margin-top: 20px;
}

#myCanvas {
    margin-bottom: 20px;
    background-color: rgb(195, 238, 238);
    background: url('/img/beach.png');
}

form {
    display: none;
}

#playerlist-box {
    top: -19px;
    display: none;
    position: relative;
    float: right;
    width: 20%;
    height: 260px;
    font-size: 13px;
    font-family: helvetica;
    background-color: #7f92a7;
    overflow-y: auto;
}

.players {
    padding: 0;
    margin: 0;
    word-wrap: break-word;
    float: right;
    width : 139px;
}

#chat-box {
    display: none;
    float: left;
    width: 80%;
    height: 240px;
    font-size: 13px;
    font-family: helvetica;
    overflow-y: scroll;
    background-color: #7f92a7;
}

.messages {
    padding: 0;
    margin: 0;
}

#message-form {
    height: 21px;
    width: 80%;
}

#message-input {
    width: 90%;
    border: 0;
    padding: 0;
    height: 100%;
    float: left;
    text-indent : 5px;
}

#message-send {
    width: 10%;
    border: 0;
    height: 100%;
    float: right;
}

.message-wrapper {
    width: 100%;
    display: flex;
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-bottom-style: dashed;
}

.message-username {
    word-wrap: break-word;
    width: 15%;
    float: left;
}

.message-content {
    word-wrap: break-word;
    width: 85%;
    float: right;
}

#chat-box-dropdown {
    display: none;
    z-index: 1;
    float: right;
    position: relative;
    right: calc(20% + 17px);
}

#global-chat-players {
    padding: 0;
    margin : 0;
}
